<script type="text/ng-template" id="expression-BlockLoyaltyCondition.html">
  If
  <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of the following criteria:
  <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
    <li class="menu-item" ng-click='element.all=true;'>all</li>
    <li class="menu-item" ng-click='element.all=false;'>any</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-BlockLoyaltyMissionCondition.html">
  If
  <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of the following criteria:
  <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
    <li class="menu-item" ng-click='element.all=true;'>all</li>
    <li class="menu-item" ng-click='element.all=false;'>any</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-OrderStatusCondition.html">
  Order status is
  <div class="form-input">
    <ui-select multiple ng-model="element1.orderStatuses" ng-controller="virtoCommerce.Loyalty.orderStatusConditionController">
      <ui-select-match placeholder="{{'customer.blades.contact-detail.placeholders.groups' | translate}}">{{$item}}</ui-select-match>
      <ui-select-choices repeat="x in orderStatuses | filter: $select.search">
        <span ng-bind-html="x | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>

<script type="text/ng-template" id="expression-OrderTotalCondition.html">
  Order total is
  <a class="__link" left-click-menu data-target="compareCondition_menu{{element1.id}}">{{element1.compareCondition | compareConditionToText }}</a>
  <div class="form-input __mini">
    <input money required ng-model="element1.totalValue" name="firstValue">
  </div>
  <span ng-show='element1.compareCondition=="Between"'>and</span>
  <div class="form-input __mini" ng-show='element1.compareCondition=="Between"'>
    <input money required ng-model="element1.totalValueSecond" name="secondValue">
  </div>
  <ul class="menu __context" role="menu" id="compareCondition_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.compareCondition="Exactly";'>exactly</li>
    <li class="menu-item" ng-click='element1.compareCondition="AtLeast";'>at least</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsLessThanOrEqual";'>exactly or less than</li>
    <li class="menu-item" ng-click='element1.compareCondition="Between";element1.totalValueSecond = element1.totalValue;'>between</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-IsFirstOrderCondition.html">
  Is first order
</script>

<script type="text/ng-template" id="expression-IsRecurringOrderCondition.html">
  Is recurring order
</script>

<script type="text/ng-template" id="expression-IsRegistrationCondition.html">
  Registration
</script>

<script type="text/ng-template" id="expression-AnyUserGroupCondition.html">
  Any User Group
</script>

<script type="text/ng-template" id="expression-BlockLoyaltyReward.html">
  Get the following loyalty rewards:
</script>

<script type="text/ng-template" id="expression-FixedAmountReward.html">
  Get
  <div class="form-input __mini __number">
    <input smart-float num-type="float" required ng-model="element1.amount">
  </div> fixed points
</script>

<script type="text/ng-template" id="expression-RelativeAmountReward.html">
  Get
  <div class="form-input __mini __number">
    <input smart-float num-type="float" required ng-model="element1.amount">
  </div>% of order value as points
</script>

<script type="text/ng-template" id="expression-OrderValueGoal.html">
  Reach order total of
  <div class="form-input __mini">
    <input money required ng-model="element1.value">
  </div>
  per mission period
</script>

<script type="text/ng-template" id="expression-OrderCountGoal.html">
  Reach
  <div class="form-input __mini __number">
    <input smart-float num-type="integer" required ng-model="element1.count">
  </div>
  orders per mission period
</script>

<script type="text/ng-template" id="expression-PerSkuGoal.html">
  Purchase
  <a class="__link" left-click-menu data-target="perSkuAllAny_menu{{element1.id}}">{{element1.all | boolToValue:'all':'any'}}</a>
  of the target SKUs (managed in the "Goal SKUs" widget)
  <ul class="menu __context" role="menu" id="perSkuAllAny_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.all=true;'>all</li>
    <li class="menu-item" ng-click='element1.all=false;'>any</li>
  </ul>
</script>
