<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="formScope">
        <fieldset ng-init="setForm(formScope)">
          <div class="form-group clearfix" ng-if="blade.showErrorStoreStateMessage">
            <div class="form-error">
              <div class="vc-alert vc-alert--warning">
                <svg class="vc-alert__icon">
                  <use href="/images/error.svg#icon"></use>
                </svg>
                <div class="vc-alert__text">{{ 'loyalty.blades.loyalty-program-details.cannot-be-saved' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="form-group clearfix">
            <div class="form-group __info list">
              <label class="form-label">{{ 'loyalty.blades.loyalty-program-details.labels.is-active' | translate }}</label>
              <div class="form-input">
                <label class="form-label __switch">
                  <input type="checkbox" ng-model="blade.currentEntity.isActive" />
                  <span class="switch"></span>
                </label>
              </div>
              <div class="list-descr">{{ 'loyalty.blades.loyalty-program-details.descr.is-active' | translate }}</div>
            </div>
          </div>

          <div class="form-group __info list">
            <label class="form-label">{{ 'loyalty.blades.loyalty-program-details.labels.name' | translate }}</label>
            <div class="form-input">
              <input ng-model="blade.currentEntity.name" focus-on="" required ng-maxlength="128" placeholder="{{ 'loyalty.blades.loyalty-program-details.placeholders.name' | translate }}">
            </div>
            <div class="list-descr">{{ 'loyalty.blades.loyalty-program-details.descr.name' | translate }}</div>
          </div>

          <div class="form-group __info list">
            <label class="form-label">{{ 'loyalty.blades.loyalty-program-details.labels.localized-name' | translate }}</label>
            <div class="vc-catalog form-input __langs"
                 ng-repeat="language in languages | limitTo: blade.showAllLanguages ? languages.length : 2">
              <label class="lang-code">{{language}}</label>
              <input ng-model="blade.currentEntity.localizedName.values[language]"
                     type="text"
                     ng-maxlength="1024"
                     placeholder="{{ 'loyalty.blades.loyalty-program-details.placeholders.name' | translate }}" />
            </div>

            <div ng-if="languages.length > 2">
              <a href="" ng-click="blade.showAllLanguages = !blade.showAllLanguages">
                {{ (blade.showAllLanguages ? 'loyalty.blades.loyalty-program-details.labels.show-less-languages' : 'loyalty.blades.loyalty-program-details.labels.show-more-languages') | translate }}
              </a>
            </div>
          </div>

          <div class="form-group clearfix">
            <div class="column">
              <div class="form-group __info list">
                <label class="form-label __info list">{{ 'loyalty.blades.loyalty-program-details.labels.start-date' | translate }}</label>
                <div class="form-input __calendar">
                  <input placeholder="{{ 'loyalty.blades.loyalty-program-details.placeholders.start-date' | translate }}" ng-model="blade.currentEntity.startDate" datepicker-popup="" is-open="datepickers.str" />
                  <button class="btn" type="button" ng-click="open($event,'str')">
                    <i class="btn-ico fa fa-calendar"></i>
                  </button>
                </div>
                <div class="list-descr">{{ 'loyalty.blades.loyalty-program-details.descr.start-date' | translate }}</div>
              </div>
            </div>
            <div class="column">
              <div class="form-group __info list">
                <label class="form-label __info list">{{ 'loyalty.blades.loyalty-program-details.labels.expiration-date' | translate }}</label>
                <div class="form-input __calendar">
                  <input placeholder="{{ 'loyalty.blades.loyalty-program-details.placeholders.expiration-date' | translate }}" ng-model="blade.currentEntity.endDate" datepicker-popup="" is-open="datepickers.end" />
                  <button class="btn" type="button" ng-click="open($event,'end')">
                    <i class="btn-ico fa fa-calendar"></i>
                  </button>
                </div>
                <div class="list-descr">{{ 'loyalty.blades.loyalty-program-details.descr.expiration-date' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="form-group clearfix">
            <div class="column">
              <div class="form-group __info list">
                <label class="form-label">{{ 'loyalty.blades.loyalty-program-details.labels.store' | translate }}</label>
                <div class="form-input" id="storesContainer">
                  <ui-select on-select="validateStores()" on-remove="validateStores()" multiple ng-model="blade.currentEntity.storeIds" ng-class="{disabled: stores.length === 0}">
                    <ui-select-match placeholder="{{'loyalty.blades.loyalty-program-details.placeholders.store' | translate}}">
                      <span ng-if="stores.length && $item.name">{{$item.name}}</span>
                      <span style="color: #f50000;font-weight: bold;" ng-if="stores.length && !$item.name">UNKNOWN</span>
                      <span ng-if="!stores.length">Loading...</span>
                    </ui-select-match>
                    <ui-select-choices repeat="x.id as x in stores | filter: { name: $select.search }" refresh="fetchStores($select)" refresh-delay="300" when-scrolled="fetchNextStores($select)">
                      <span ng-bind-html="x.name | highlight: $select.search" ng-show='stores.length > 0'></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <div class="list-descr">{{ 'loyalty.blades.loyalty-program-details.descr.store' | translate }}</div>
              </div>
            </div>
          </div>

          <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="1" ng-if="blade.currentEntity"></va-metaform>
        </fieldset>
      </form>
    </div>
  </div>
</div>
