<div class="blade-content __medium-wide">
  <div class="blade-inner">
    <div class="inner-block">
      <form class="form" name="formScope">
        <fieldset>
          <va-metaform registered-inputs="blade.metaFields" blade="blade" column-count="6" ng-if="blade.currentEntity" ng-init="setForm(formScope)"></va-metaform>
        </fieldset>
        <div class="form-group" ng-if="blade.currentEntity.dynamicExpression">
          <fieldset>
            <legend>{{'Loyalty.blades.loyalty-program-details.labels.loyalty-program' | translate}}</legend>
            <div class="dynamic-expression">
              <va-dynamic-expression-tree source="blade.currentEntity.dynamicExpression"></va-dynamic-expression-tree>
            </div>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="loyaltyStoreSelector.html">
  <div class="form-input">
    <va-store-selector required ng-model="blade.currentEntity.storeId" placeholder="'Loyalty.blades.loyalty-program-details.placeholders.store'"></va-store-selector>
  </div>
</script>
